
.ProductCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
}

.ProductListing {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.HeroSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
}
.SearchBar {
    border:#050505 1px solid;
    border-radius: 8px;
    padding: 8px;
}